  <nav class="bg-red-700 fixed top-0 left-0 right-0 shadow-md z-50">
    <div class="max-w-6xl mx-auto px-6 py-3 flex justify-between items-center">
      <div class="flex space-x-4">
        <a href="/host/add-Home" class="text-white font-semibold hover:text-gray-200 transition-colors duration-300">
           Home
        </a>
        <li>
        <a href="host/host-home-list" class="text-white font-semibold hover:text-gray-200 transition-colors duration-300">
         Host Homes
        </a>
        </li>
         <li>
        <a href="/" class="text-white font-semibold hover:text-gray-200 transition-colors duration-300">
          air-bnb
        </a>
        </li>
         <li>
        <a href="/homes" class="text-white font-semibold hover:text-gray-200 transition-colors duration-300">
          Home-List
        </a>
        </li>
        <li>
        <a href="/" class="text-white font-semibold hover:text-gray-200 transition-colors duration-300">
          Go to Home
        </a>
        </li>
        </a>
         <li>
        <a href="/favourites" class="text-white font-semibold hover:text-gray-200 transition-colors duration-300">
         Favourites
        </a>
        </li>
        <li>
        <a href="/bookings" class="text-white font-semibold hover:text-gray-200 transition-colors duration-300">
         Bookings
        </a>
        </li>
      </div>
    </div>
  </nav>